{
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "rules": {
    "curly": 2,
    "indent": [
      2,
      2
    ],
    "new-parens": 2,
    "prefer-template": 2,
    "max-len": [
      2,
      180
    ],
    "member-access": 0,
    "no-bitwise": 2,
    "no-debugger": 2,
    "no-duplicate-imports": 2,
    "no-empty": 0,
    "no-eval": 2,
    "no-inferrable-types": 0,
    "no-string-literal": 0,
    "no-invalid-this": 2,
    "no-sparse-arrays": 2,
    "no-stateless-class": 0,
    "no-unused-expression": 0,
    "no-var": 2,
    "semi": [
      2,
      "always"
    ],
    "quote-props": [
      2,
      "as-needed"
    ],
    "object-literal-sort-keys": 0,
    "prefer-const": 2,
    "quotes": [
      2,
      "single"
    ],
    "radix": 2,
    "semicolon": [
      "always"
    ],
    "no-irregular-whitespace": 2,
    "variable-name": 0
  }
}