name: CI
on:
  push:
    branches-ignore:
      - 'releases/**'
  pull_request:
    branches-ignore:
      - 'releases/**'
jobs:
  test:
    name: Node.js ${{ matrix.node-version }}
    runs-on: macos-latest
    strategy:
      fail-fast: false
      matrix:
        node-version:
          - 18
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
      - run: npm install --ignore-scripts
      - run: npm run build:macos
      - run: npm run test-ci
